<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>
</head>
<body>
  <h1>Create new Note!</h1>
  <form th:object="${note}" th:action="@{/notes}" method="POST" onsubmit="return check()">
    <label for="message">message</label>
      <br/>
    <textarea id="message" th:field="*{message}"></textarea>
      <br/>
    <input type="submit" value="Create">
  </form>
    <a href="/index">Back to Main</a>
  <script type="text/javascript">
    function check() {
      let textarea = document.getElementById("message");
      if (textarea.value.length <= 2) {
        alert("Message is too short");
        return false;
      }
      return true;
    }
  </script>
</body>
</html>